.number-input-page-panel-numframe-button {
  width: 86px;
  height: 50px;
  padding: 12px, 30px, 12px, 30px;
  border: 2px solid black;
  gap: 10px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: black;
  }
  &:hover .number-input-page-panel-numframe-button-number {
    color: white;
  }
}

.number-input-page-panel-numframe-button-clear {
  width: 186px;
  height: 52px;
}

.number-input-page-panel-numframe-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.number-input-page-panel-numframe-selected-button {
  color: white;
  background-color: black;
}
