body {
  background-image: url("img/number-input-background-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
}
.number-input-page-container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.number-input-page-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #86d3f4;
  width: 380px;
  height: 100%;
  top: -1px;
  padding: 40px, 24px, 40px, 24px;
  gap: 13px;
}

.number-input-page-panel-text {
  color: #000000;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  margin: 10px;
}

.number-input-page-panel-numframe {
  width: 284px;
  height: 278px;
  padding: 20px, 0px, 20px, 0px;
  gap: 10px;
}

.number-input-page-panel-checkbox-label {
  display: flex;
  align-items: center;
  text-align: left;
  height: 100%;
  margin-top: 0px;
}

.number-input-page-panel-checkbox-text {
  max-width: 214px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
}

.number-input-page-panel-checkbox {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.number-input-page-panel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #86d3f4;
  width: 284px;
  height: 52px;
  padding: 16px, 19px, 16px, 19px;
  border: 1px;
  gap: 10px;
  border: 1px solid #4e4e4e;
  border-radius: 0px;
}
