.number-input-page {
  width: 100%;
  height: 100%;
}
.number-input-page-container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.number-input-page-container {
  background-image: url("number-input-background-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 100%;
  height: 100%;
}

.number-input-page-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #86d3f4;
  width: 380px;
  height: 100%;
  top: -1px;
  padding: 40px, 24px, 40px, 24px;
  gap: 13px;
}

.number-input-page-panel-text {
  color: #000000;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  margin: 5px;
}

.number-input-page-panel-tnumber {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.number-input-page-panel-numframe {
  width: 284px;
  height: 278px;
  padding: 20px, 0px, 20px, 0px;
  gap: 10px;
}

.number-input-page-panel-checkbox-label {
  display: flex;
  align-items: center;
  text-align: left;
  height: 100%;
  margin-top: 0px;
  max-width: 284px;
  padding: 2px;
}

.number-input-page-panel-checkbox-text {
  max-width: 214px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.number-input-page-panel-checkbox {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  color: #86d3f4;
  border: 4px solid black;
}

.number-input-page-panel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #86d3f4;
  width: 284px;
  height: 52px;
  padding: 16px, 19px, 16px, 19px;
  border: 1px;
  gap: 10px;
  border: 1px solid #4e4e4e;
  border-radius: 0px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;

  &:hover {
    background-color: #000000;
  }
  &:hover .number-input-page-panel-button-text {
    color: white;
  }
}

.number-input-page-panel-numframe-selected-button {
  background-color: #000000;
  .number-input-page-panel-button-text {
    color: white;
  }
}

.number-input-page-panel-numframe-selected-label {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  .number-input-page-panel-text {
    color: white;
  }
}

.number-input-page-panel-text-error {
  color: rgb(192, 12, 12);
  font-size: 18px;
  height: 32px;
}

.disabled-button {
  background-color: rgba(3, 21, 29, 0.2);
  cursor: not-allowed;
  pointer-events: none;
  .number-input-page-panel-numframe-selected-button {
    background-color: rgba(3, 21, 29, 0.2);
  }
}
